{
  "extends": ["next", "next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-duplicate-imports": "error",
    "no-console": ["warn", { "allow": ["warn", "error", "info", "debug"] }],
    "no-var": "error",
    "default-case": ["warn", { "commentPattern": "^skip\\sdefault" }],
    "max-params": ["error", { "max": 4 }],
    "max-depth": ["error", { "max": 3 }]
  },

  "overrides": [
    {
      "files": ["src/**/*.stories.tsx"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
